# Maintainer: Pando85 <pando855@gmail.com>

pkgname={{ env.PROJECT_NAME }}
pkgver={{ env.PROJECT_VERSION }}
pkgrel=1
pkgdesc="{{ env.PROJECT_DESCRIPTION }}"
arch=('i686' 'x86_64' 'armv6h' 'armv7h' 'aarch64')
url="{{ env.PROJECT_HOMEPAGE }}"
license=('GPL')
depends=('gcc-libs')
makedepends=('cargo'
             'git')
source=("git+https://github.com/rash-sh/rash.git#tag=v${pkgver}?signed")
validpgpkeys=('C15CDDF9318F14398300B917C6CB8A1793CA3F94')
sha512sums=('SKIP')

prepare() {
    cd "$srcdir/$pkgname"
    cargo fetch --locked --target "$CARCH-unknown-linux-gnu"
}

build() {
    cd "$srcdir/$pkgname"
    export RUSTUP_TOOLCHAIN=stable
    export CARGO_TARGET_DIR=target
    cargo build --frozen --release --all-features
}

check() {
    cd "$srcdir/$pkgname"
    export RUSTUP_TOOLCHAIN=stable
    cargo test --frozen --all-features
}

package() {
    cd "$srcdir/$pkgname"
    install -Dm0755 -t "$pkgdir/bin/" "target/release/$pkgname"
}
